<div class="container">
  <h2 class="text-center">{{title}}</h2>
  <hr>

  <nav class="nav nav-fill nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLink="/addproject" routerLinkActive="active">Add Project</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/addtask" routerLinkActive="active">Add Task</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/adduser" routerLinkActive="active">Add User</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/viewtask" routerLinkActive="active">View Task</a>
    </li>
  </nav>
  <router-outlet></router-outlet>
</div>